---
import { getDataByID } from "../../lib/FetchData";
import Layout from "../../layouts/Layout.astro";
import { getData } from "../../lib/FetchData";

export async function getStaticPaths() {
  const lanzamientos = await getData();

  return lanzamientos.map((lanzamiento) => ({
    params: { id: lanzamiento.id },
  }));
}

const { id } = Astro.params;

let lanzamieto;

if (id) {
  lanzamieto = await getDataByID({ id });
}
---

<Layout title={`Lanzamiento ${id}`}>
  <article>
    {lanzamieto?.id}
    <h1></h1>
  </article>
</Layout>
