---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="Sobre la pagina">
  <main>
    <Header
      content="Sobre la Pagina"
      info="Toda la informacion sobre la pagina"
    />
  </main>
</Layout>
