---
import Layout from "../layouts/Layout.astro";
import FotosDesc from "../components/FotosDesc.astro";
---

<Layout title="Visualización de fotos">
  <main class="m-auto">
    <FotosDesc />
  </main>
</Layout>
