---
import Layout from "../layouts/Layout.astro";
import Fotos from "../components/Fotos.astro";
---

<Layout title="Visualización de fotos">
  <main class="m-auto">
    <Fotos />
  </main>
</Layout>
